@tailwind base;
@tailwind components;
@tailwind utilities;

/* REACT CALENDAR */
div .react-calender {
  width: 100 !important;
  font-family: "Inter", san-serif !important;
}
.react-calendar__tile--active {
  background: #fae27c !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}
.react-calendar__tile--now {
  background: #c3ebfa !important;
}

abbr {
  text-decoration: none !important;
}

/* SCHEDULE CALENDER */
.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: left !important;
}

.rbc-btn-group:last-child {
  font-size: 13px I !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border: #eee !important;
}
.rbc-time-header {
  display: none !important;
}
.rbc-time-content {
  border: none !important;
}
.rbc-time-gutter .rbc-time-column {
  font-size: 12px !important;
}
.rbc-time-gutter .rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}
.rbc-timeslot-group {
  background-color: #f7fdff !important;
}
.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-day-slot .rbc-events-container {
  margin: 0 !important;
  /* display: flex !important;
  justify-content: center !important;
  align-items: center !important; */
}
.rbc-event {
  width: 100% !important;
  color: black !important;
  padding: 10px !important;
  border: none !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf1fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf1fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px !important;
}
